body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/pattern.gif");
    color:white;
    padding: 20px;
}
.text{
    background-color: white;
    text-align: center;
    color: black;
    margin: auto;
    border: 20px solid #ffffff;
    display: inline-block;
    width: 560px;
    height: 200px;
    padding: 10px;
    
    /*width: 40%;
    */
}
.column{
    float: left;
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 10px;
}
.image img{
    width: 100%;
    vertical-align: middle;
    /* margin-left: 20px; */
}
.image{
    align-content: center;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.image_content img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.image_content{
    width: 300px;
}
.box_content:after{
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
  }